.crash{
    background: black;
    img{
        margin: 0 auto;
        width: 100%;
    }
}

.special-link-for-sandra-bullock{

    a{
        position: absolute;
        right: 20px;
        bottom: 15px;
    }
}

