// http://codepen.io/lbebber/pen/ypgql
.glitch {
  color: white;
  position: relative;
  margin: 2em auto 1em auto;
  font-size: 4em;
  font-weight: 300;
}

a.glitch {
  margin: 0;
  font-size: 1em;
}

@-webkit-keyframes noise-anim {
   0% {
    clip: rect(130px, 9999px, 167px, 0);
  }

  5% {
    clip: rect(161px, 9999px, 983px, 0);
  }

  10% {
    clip: rect(199px, 9999px, 384px, 0);
  }

  15.0% {
    clip: rect(178px, 9999px, 148px, 0);
  }

  20% {
    clip: rect(147px, 9999px, 910px, 0);
  }

  25% {
    clip: rect(171px, 9999px, 14px, 0);
  }

  30.0% {
    clip: rect(12px, 9999px, 554px, 0);
  }

  35% {
    clip: rect(167px, 9999px, 764px, 0);
  }

  40% {
    clip: rect(160px, 9999px, 763px, 0);
  }

  45% {
    clip: rect(194px, 9999px, 856px, 0);
  }

  50% {
    clip: rect(10px, 9999px, 371px, 0);
  }

  55.0% {
    clip: rect(110px, 9999px, 103px, 0);
  }

  60.0% {
    clip: rect(194px, 9999px, 395px, 0);
  }

  65% {
    clip: rect(113px, 9999px, 614px, 0);
  }

  70% {
    clip: rect(183px, 9999px, 332px, 0);
  }

  75% {
    clip: rect(113px, 9999px, 637px, 0);
  }

  80% {
    clip: rect(133px, 9999px, 586px, 0);
  }

  85.0% {
    clip: rect(176px, 9999px, 541px, 0);
  }

  90% {
    clip: rect(142px, 9999px, 190px, 0);
  }

  95% {
    clip: rect(194px, 9999px, 577px, 0);
  }

  100% {
    clip: rect(153px, 9999px, 324px, 0);
  }
}

.glitch:after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  top: 0;
  color: white;
  overflow: hidden;
  clip: rect(0, 100px, 0, 0);
  -webkit-animation: noise-anim 2s infinite linear alternate-reverse;  
  animation: noise-anim 2s infinite linear alternate-reverse;  
}

@-webkit-keyframes noise-anim-2 {
  0% {
    clip: rect(185px, 9999px, 3px, 0);
  }

  10% {
    clip: rect(156px, 9999px, 29px, 0);
  }

  20% {
    clip: rect(144px, 9999px, 12px, 0);
  }

  30.0% {
    clip: rect(153px, 9999px, 28px, 0);
  }

  40% {
    clip: rect(14px, 9999px, 81px, 0);
  }

  50% {
    clip: rect(180px, 9999px, 35px, 0);
  }

  60.0% {
    clip: rect(197px, 9999px, 53px, 0);
  }

  70% {
    clip: rect(148px, 9999px, 24px, 0);
  }

  80% {
    clip: rect(119px, 9999px, 66px, 0);
  }

  90% {
    clip: rect(118px, 9999px, 57px, 0);
  }

  100% {
    clip: rect(187px, 9999px, 72px, 0);
  }
}

.glitch:before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  top: 0;
  color: white;
  overflow: hidden;
  clip: rect(0, 100px, 0, 0);
  -webkit-animation: noise-anim-2 1s infinite linear alternate-reverse;
  animation: noise-anim-2 1s infinite linear alternate-reverse;
}
