/* Headings */
/*Further Reading: http:/csswizardry.com/2012/02/pragmatic-practical-font-sizing-in-css/ */
h1, .alpha   { 
	font-size: 2em;
	margin: 0;
	line-height: 1.2;
}

h2, .beta    { 
	line-height: 1.2;
}

h3, .gamma   { 
	line-height: 1.2;
}

/* Subheadings */
.subheading {
	font-family: $font-secondary;
	font-weight: normal;
}

.home .logo {
	width: 100%;
	height: auto;
}

.preloaderContainer {
	position: fixed;
	top: 36px;
	left: 36px;
	width: 256px;
	height: 256px;
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	opacity:0.5;
}