body {
	margin: 0;
    background: url(/img/clear_bg.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font: 100%/1.5 $font;
    -webkit-text-size-adjust: 100%;
    color: $text-color;
}

html, body, article {
    height: $full;
}

article {
    box-sizing: border-box;
    width: $full;
    padding: 0;
    @include breakpoint(baby-bear) {
        padding: 0;
    }
    
}

article section{
	width: $full;
}

article section > * {
    @include breakpoint(baby-bear) {
        width: $half;
        margin: 0 auto;
        padding: 0;
    }
}

article section > ul,
article section > p,
article section > section {
    padding: 15px;
    background: rgba(0,0,0,.25);
}

section {
	margin: 0 auto;
}

img{
	max-width: $full;
}

.logo {
    width: $full;
    @include breakpoint(baby-bear) {
        width: $half;
        margin: 0 8%;
    }
}

// Correct `block` display not defined in IE 8/9.
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}

// Correct `inline-block` display not defined in IE 8/9.
audio,
canvas,
video {
    display: inline-block;
}

footer {
    position: relative;
    background: #1c1c1c;
    padding: 15px;
}

.fullscreen {
    min-height: $full;
    height: $full;
    width: $full;
    display: table;
    position: relative;
}

.fullscreen ul {
    margin-bottom: 1em;
}

.fullscreen-wrapper {
    padding: 0;
    display: table-cell;
    vertical-align: middle;
}