html {
    font-family: sans-serif; /* 1 */
    -ms-text-size-adjust: 100%; /* 2 */
    -webkit-text-size-adjust: 100%; /* 2 */
}

body {
	margin: 0;
    background: $page-background-color;
    font: 100%/1.5 $font;
    -webkit-text-size-adjust: 100%;
    color: $text-color;
}

html, body, article {
    height: $full;
}

article {
    box-sizing: border-box;
    width: $full;
    padding: 0 8%;
    @include breakpoint(baby-bear) {
        padding: 0;
    }
    
}

article section{
	width: $full;
}

article section > * {
    @include breakpoint(baby-bear) {
        width: $half;
        margin: 0 auto;
        padding: 0;
    }
}

section{
	margin: 0 auto;
}

img{
	max-width: $full;
}

.logo {
    width: $full;
    @include breakpoint(baby-bear) {
        width: $half;
        margin: 0 8%;
    }
}

// Correct `block` display not defined in IE 8/9.
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}

// Correct `inline-block` display not defined in IE 8/9.
audio,
canvas,
video {
    display: inline-block;
}

footer {
    position: relative;
    background: #1c1c1c;
    padding: 15px;
}

.fullscreen {
    min-height: $full;
    height: $full;
    display: table;
    position: relative;
}

.fullscreen-wrapper {
    padding: 0;
    display: table-cell;
    vertical-align: middle;
}