.home .logo {
	@include breakpoint(mama-bear) {
		padding-top: 30%;
	}
}

.home .arrow {
	position: fixed;
	left: 50%;
	bottom: 4%;
	width: 10%;
	height: auto;
	cursor: pointer;
	@include breakpoint(baby-bear) {
		width: 5%;
	}
}

.active {
	border: none;
}